{include file="../application/index/view/common/top.html" /}
	<!-- 搜索栏 -->
	<div class="top-search">
		<div class="inner">
			<a class="logo" href="index.html"><img src="__IMG__/icons/logo.jpg" alt="U袋网" class="cover"></a>
			<div class="search-box">
				<form class="input-group">
					<input placeholder="Ta们都在搜U袋网" type="text">
					<span class="input-group-btn">
						<button type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</form>
				<p class="help-block text-nowrap">
					<a href="">连衣裙</a>
					<a href="">裤</a>
					<a href="">衬衫</a>
					<a href="">T恤</a>
					<a href="">女包</a>
					<a href="">家居服</a>
					<a href="">2017新款</a>
				</p>
			</div>
			<div class="cart-box">
				<a href="udai_shopcart.html" class="cart-but">
					<i class="iconfont icon-shopcart cr fz16"></i> 购物车 0 件
				</a>
			</div>
		</div>
	</div>
	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<ul class="nva-list">
				<a href="{:url('index/index/index')}"><li class="active">首页</li></a>
				<a href="{:url('index/server/udai_article10')}"><li>企业简介</li></a>
				<a href="{:url('index/server/udai_article5')}"><li>新手上路</li></a>
				<a href="{:url('index/server/class_room')}"><li>U袋学堂</li></a>
				<a href="{:url('index/server/enterprise_id')}"><li>企业账号</li></a>
				<a href="{:url('index/server/udai_contract')}"><li>诚信合约</li></a>
				<a href="{:url('index/server/item_remove')}"><li>实时下架</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="panel__div clearfix">
			<div class="filter-value">
				<div class="filter-title">企业账号</div>
			</div>
			<div class="html-code">
				<p>
					<b>平台指定企业账号：</b><br>
					<table border="0">
						<tr>
							<td><p>fzxinghuiwlkj@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxinghui@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxhwangluo@126.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
					</table>
				</p>
				<p><br></p>
				<p>如有遇到到别的账号，请致电 0591-26163340 核实或前往首页验证。<br>否则，公司概不负责。</p>
			</div>
		</section>
	</div>
	{include file='../application/index/view/common/footer.html'}