{include file="../application/index/view/common/top.html" /}
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="../index.html"><img src="__IMG__/icons/logo.jpg" alt="U袋网" class="cover"></a>
				<div class="title">个人中心</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			{include file="../application/index/view/common/infoleft.html" /}
			<div class="pull-right bgf">
				<div class="user-center__content">
					<div class="head-box">新手上路-分销商常见问题</div>
					<div class="html-code">
						<h3>分销商常见问题</h3>
						<p>最大的问题就是没有问题</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	{include file='../application/index/view/common/footer.html'}