<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="__CSS__/iconfont.css">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/bootstrap-theme.min.css">
	<link rel="stylesheet" href="__CSS__/login.css">
	<script src="__JS__/jquery.1.12.4.min.js" charset="UTF-8"></script>
	<script src="__JS__/bootstrap.min.js" charset="UTF-8"></script>
	<link href="__CSS__/drag.css" rel="stylesheet" type="text/css"/>
	<script src="__JS__/drag.js" charset="UTF-8"></script>
	<!-- <script src="__JS__/jquery.form.js" charset="UTF-8"></script> -->
	
	<title>U袋网 - 登录</title>
</head>
<body>
	<div class="public-head-layout container">
		<a class="logo" href="{:url('index/index/index')}"><img src="__IMG__/icons/logo.jpg" alt="U袋网" class="cover"></a>
	</div>
	<div style="background:url(__IMG__/login_bg.jpg) no-repeat center center; ">
		<div class="login-layout container">
			<div class="form-box login">
				<div class="tabs-nav">
					<h2>欢迎登录U袋网平台</h2>
				</div>
				<div class="tabs_container">
					<form class="tabs_form" action="" method="post">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
								</div>
								<input class="form-control phone" name="phone" id="login_phone" required placeholder="手机号" maxlength="11" autocomplete="off" type="text">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
								</div>
								<input class="form-control password" name="password" id="login_pwd" placeholder="请输入密码" autocomplete="off" type="password">
								<div class="input-group-addon pwd-toggle" title="显示密码"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
							</div>
						</div>
						<div class="form-group">
							
								<div id="drag"></div>	
							
						</div>
						<div class="checkbox">
	                        <label>
	                        	<input checked="" id="login_checkbox" type="checkbox"><i></i> 30天内免登录
	                        </label>
	                        <a href="{:url('index/auth/getPass')}" class="pull-right">忘记密码？</a>
	                    </div>
	                    <button class="btn btn-large btn-primary btn-lg btn-block submit" id="login_submit" type="button">登录</button><br>
	                    <p class="text-center">没有账号？<a href="{:url('index/auth/register')}">免费注册</a></p>
                    </form>
                </div>
			</div>
		</div>
	</div>
	<div class="footer-login container clearfix">
		<ul class="links">
			<a href=""><li>网店代销</li></a>
			<a href=""><li>U袋学堂</li></a>
			<a href=""><li>联系我们</li></a>
			<a href=""><li>企业简介</li></a>
			<a href=""><li>新手上路</li></a>
		</ul>
		<!-- 版权 -->
		<p class="copyright">
			© 2005-2017 U袋网 版权所有，并保留所有权利<br>
			ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
		</p>
	</div>
</body>
</html>
<script type="text/javascript">
	$('#drag').drag();
	$('#login_submit').click(function(){
		var phone = $('#login_phone').val();
		var pwd = $('#login_pwd').val();
		if(phone==null||phone==undefined||phone==""||pwd==null||pwd==undefined||pwd=="")
		{
			alert('手机号或密码不能为空');
			return;
		}

		if($('.drag_text').text() != '验证通过')
		{
			alert('请验证通过再登录');
			return;
		}

		$.post("{:url('index/auth/doLogin')}",
			{"phone":phone,
				"pwd":pwd
			},function(data){
				if (data['status']) {
					alert(data['msg']);
					$(location).attr('href' , data['url']);
				}else{
					alert(data['msg']);
				}

				$("#login_phone").val('');
				$("#login_pwd").val('');
				$("#login_phone").focus();
			}
		);
		
	});
</script>