{include file="../application/index/view/common/top.html" /}
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="{:url('index/index/index')}"><img src="__IMG__/icons/logo.jpg" alt="U袋网" class="cover"></a>
				<div class="title">购物车</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="user-content__box clearfix bgf">
				<div class="title">购物车</div>
				<form action="" class="shopcart-form__box">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th width="150">
									<label class="checked-label"><input type="checkbox" class="check-all"><i></i> 全选</label>
								</th>
								<th width="300">商品信息</th>
								<th width="150">单价</th>
								<th width="200">数量</th>
								<th width="200">现价</th>
								<th width="80">操作</th>
							</tr>
						</thead>
						<tbody>
							<script type="text/javascript">
								$(function(){
									var li = 1;
									$.ajax({
										"type":"post",
										"url":"getCart",
										"dataType":"json",
										"async":true,
										"success":function(data){
											if(data['status']==1){
												var len = data['cart_info'].length;
												//alert(len);
												//alert(data[0].price);
												for(var i=0;i<len;i++){
													$('tbody').append('<tr><th scope="row"><label class="checked-label"><input type="checkbox" class="checks"><i></i><div class="img"><img src="/'+data['goods_info'][i].image+'" alt="" class="cover"></div></label></th><td><div class="name ep3">'+data['goods_info'][i].name+'</div><div class="type c9">颜色分类：'+data['cart_info'][i].color+'  尺码：'+data['cart_info'][i].size+'</div></td><td>'+data['goods_info'][i].price+'</td><td><div class="cart-num__box"><input type="button" class="sub" value="-"><input type="text" class="val" value="'+data['cart_info'][i].quantity+'" maxlength="2"><input type="button" class="add" value="+"></div></td><td class="real_price">￥'+(data['goods_info'][i].price*data['goods_info'][i].discount*0.1).toFixed(2)+'</td><td><a class="del" href="javascript:;" dataIndex='+data['cart_info'][i].cart_id+'>删除</a></td></tr>');
												}
											}
										}
									});
								});
							</script>
						</tbody>
					</table>
					<div class="user-form-group tags-box shopcart-submit pull-right">
						<button class="btn" type="button">提交订单</button>
						<script type="text/javascript">
							$(function(){
								$('.btn').click(function(){
									var cart_id = '';
									var money = $('.fz24').html();
									$('tr').each(function(){
										if($(this).find('.checks').prop('checked')){
											cart_id += $(this).find('.del').attr('dataIndex').toString()+',';
										}
									});
									if(cart_id!=''){
										$.ajax({
											"type":"post",
											"url":"addOrder",
											"dataType":"json",
											"async":true,
											"data":{'cart_id':cart_id},
											"success":function(data){
												if(data['status']==0){
													alert(data['msg']);
												}
												if(data['status']==1){
													window.location.href="{:url('index/cart/order')}";
												}
											}
										});
									}else{
										alert('请选择商品');
									}
								});
							});
						</script>
					</div>
					<div class="checkbox shopcart-total">
						<label><input type="checkbox" class="check-all"><i></i> 全选</label>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" class="del-check">删除</a>
						<div class="pull-right">
							已选商品 <span class="goods_num">0</span> 件
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合计（不含运费）
							<b class="cr">¥<span class="fz24">0</span></b>
						</div>
					</div>
					<script>
						$(document).ready(function(){
							// 全选
							$('.check-all').on('change',function() {
								//alert(1);
								if($('.check-all').prop('checked')){
									$('.checks').prop('checked', true);
									$('.check-all').prop('checked',true);
									var price = 0;
									var n = 0;
									var count = 1;
									$('tr').each(function(){
										if(n!=0){
											count = $(this).find('.val').val();
											p = Number($(this).find('.real_price').html().substr(1));
											price = price+(p*count);
										}
										n++;
										// price += Number($(this).find('.real_price').html().substr(1));
										// alert(price);
										$('.fz24').html(price);
										$('.goods_num').html(n-1);
									});
									//alert(price);
								}else{
									$('.checks').prop('checked', false);
									$('.check-all').prop('checked',false);
									$('.fz24').html(0);
									$('.goods_num').html(0);
								}
								//$item_checkboxs.prop('checked', $(this).prop('checked'));
							});
							// 点击选择
							$('body').on('change','.checks',function() {
								var len = $('.checks').length;
								var flag = true;
								$('.checks').each(function(){
									if(!$(this).prop('checked')){
										flag = false;
										return;
									}
								});
								if(!flag){
									$('.check-all').prop('checked',false);
								}else{
									$('.check-all').prop('checked',true);
								}
								var price = 0;
								var n = 0;					
								$('tr').each(function(){
									if($(this).find('.checks').prop('checked')){
										count = $(this).find('.val').val();
										p = Number($(this).find('.real_price').html().substr(1));
										price = price+(p*count);
										n++;
										//alert(price);
									}
									// price += Number($(this).find('.real_price').html().substr(1));
									// alert(price);
									$('.fz24').html(price);
									$('.goods_num').html(n);
								});
							});
							// 个数限制输入数字
							$('input.val').onlyReg({reg: /[^0-9.]/g});
							$('body').on('blur','input.val',function(){
								$('tr').each(function(){
									var total = $(this).find('.val').val();
									var cart_id = $(this).find('.del').attr('dataIndex');
									//alert(cart_id);
									$.post("{:url('index/cart/updateCount')}",{'count':total,'cart_id':cart_id},function(data){

									});
								});
							});
							// 加减个数
							$('body').on('click', '.sub,.add', function() {
								var value = parseInt($(this).siblings('.val').val());
								if ($(this).hasClass('add')) {
									$(this).siblings('.val').val(Math.min((value += 1),99));
								} else {
									$(this).siblings('.val').val(Math.max((value -= 1),1));
								}
								var price = 0;
								var n = 0;					
								$('tr').each(function(){
									if(n!=0){
										if($(this).find('.checks').prop('checked')){
											count = $(this).find('.val').val();
											p = Number($(this).find('.real_price').html().substr(1));
											price = price+(p*count);
											n++;
											//alert(price);
										}
										$('.fz24').html(price);
										$('.goods_num').html(n);
										// 写入商品数目
										var total = $(this).find('.val').val();
										var cart_id = $(this).find('.del').attr('dataIndex');
										//alert(cart_id);
										$.post("{:url('index/cart/updateCount')}",{'count':total,'cart_id':cart_id},function(data){

										});
									}
									n++;
								});
							});
							$('body').on('click','.del',function(){
								var dataIndex = $(this).attr('dataIndex');
								
								//alert(dataIndex);
								$.ajax({
									"type":"post",
									"url":"delCart",
									"dataType":"json",
									"async":true,
									"data":{"dataIndex":dataIndex},
									"success":function(data){
										alert(data['msg']);
										$("[dataIndex="+dataIndex+"]").parents('tr').remove('tr');
									}
								});
							});
							$('body').on('click','.del-check',function(){
								var cart_id = '';
								$('tr').each(function(){
									if($(this).find('.checks').prop('checked')){
										cart_id += $(this).find('.del').attr('dataIndex').toString()+',';
									}
								});
								//alert(cart_id);
								if(cart_id!=''){
									$.ajax({
										"type":"post",
										"url":"delCheckCart",
										"dataType":"json",
										"async":true,
										"data":{'cart_id':cart_id},
										"success":function(data){
											alert(data['msg']);
											if(data['status']==1){
												var dataIndex;
												$('tr').each(function(){
													if($(this).find('.checks').prop('checked')){
														dataIndex = $(this).find('.del').attr('dataIndex');
														$("[dataIndex="+dataIndex+"]").parents('tr').remove('tr');
													}
												});
											}
										}
									});
								}else{
									alert('请选择商品');
								}
							});
						});
					</script>
				</form>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
	<div class="right-nav">
		<ul class="r-with-gotop">
			<li class="r-toolbar-item">
				<a href="udai_welcome.html" class="r-item-hd">
					<i class="iconfont icon-user" data-badge="0"></i>
					<div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="udai_shopcart.html" class="r-item-hd">
					<i class="iconfont icon-cart"></i>
					<div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="udai_collection.html" class="r-item-hd">
					<i class="iconfont icon-aixin"></i>
					<div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="" class="r-item-hd">
					<i class="iconfont icon-liaotian"></i>
					<div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="issues.html" class="r-item-hd">
					<i class="iconfont icon-liuyan"></i>
					<div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
				</a>
			</li>
			<li class="r-toolbar-item to-top">
				<i class="iconfont icon-top"></i>
				<div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
			</li>
		</ul>
	</div>
	<script>
		$(document).ready(function(){ $('.to-top').toTop({position:false}) });
	</script>
	<!-- 底部信息 -->
	{include file='../application/index/view/common/footer.html'}