{include file="../application/index/view/common/top.html" /}
<style type="text/css">
	.sort-box .active{color:red;}
</style>
	<!-- 搜索栏 -->
	<div class="top-search">
		<div class="inner">
			<a class="logo" href="{:url('index/index/index')}"><img src="__IMG__/icons/logo.jpg" alt="U袋网" class="cover"></a>
			<div class="search-box">
				<form class="input-group" action="{:url('index/search/index')}">
					<input placeholder="Ta们都在搜U袋网" type="text" name="keyword">
					<span class="input-group-btn">
						<button type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</form>
				<p class="help-block text-nowrap">
					<a href="">连衣裙</a>
					<a href="">裤</a>
					<a href="">衬衫</a>
					<a href="">T恤</a>
					<a href="">女包</a>
					<a href="">家居服</a>
					<a href="">2017新款</a>
				</p>
			</div>
			<div class="cart-box">
				<a href="udai_shopcart.html" class="cart-but">
					<i class="iconfont icon-shopcart cr fz16"></i> 购物车 0 件
				</a>
			</div>
		</div>
	</div>
	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<ul class="nva-list">
				<a href="index.html"><li>首页</li></a>
				<a href="temp_article/udai_article10.html"><li>企业简介</li></a>
				<a href="temp_article/udai_article5.html"><li>新手上路</li></a>
				<a href="class_room.html"><li>U袋学堂</li></a>
				<a href="enterprise_id.html"><li>企业账号</li></a>
				<a href="udai_contract.html"><li>诚信合约</li></a>
				<a href="item_remove.html"><li>实时下架</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="filter-section clearfix">
			<ol class="breadcrumb">
				<li><a href="{:url('index/index/index')}">全部结果</a></li>
				<li class="active">{$keyword}</li>
			</ol>
			<div class="filter-box">
				<div class="all-filter">
					<div class="filter-value">
						<div class="filter-title">选择商品分类 <i class="iconfont icon-down"></i></div>
						<!-- 全部大分类 -->
						<ul class="catelist-card">
							{foreach $dalei as $value}
							<a href="index.html?cid={$value['category_id']}"><li {if $value['category_id']==$cate['category_id']}class="active"{/if}>{$value['name']}</li></a>
							{/foreach}
						</ul>
						<!-- 已选选项 -->
						{if $option}
						<div class="ul_filter">
							{foreach $option as $value}
							<span class="pull-left">{$value['name']}
								<!-- <a href="javascript:;" class="close">&times;</a> -->
							</span>
							{/foreach}
						</div>
						{/if}
						<a class="reset pull-right" href="index?cid=0">重置</a>
					</div>
				</div>
				{if $fenlei}
				<div class="filter-prop-item">
					{if $cate['category_id']}
					<span class="filter-prop-title active">{$cate['name']}：</span>
					{else}
					<span class="filter-prop-title active">全部</span>
					{/if}
					<ul class="clearfix">	
						{foreach $fenlei as $value}
						<a href="index.html?cid={$value['category_id']}"><li>{$value['name']}</li></a>
						{/foreach}
					</ul>					
				</div>
				{/if}
				<div class="filter-prop-item">
					<span class="filter-prop-title">价格：</span>
					<ul class="clearfix">
						<a href=""><li>全部</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m0l20"><li>0-20</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m20l40"><li>20-40</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m40l80"><li>40-80</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m80l100"><li>80-100</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m100l150"><li>100-150</li></a>
						<a href="index?cid={$cate['category_id']?:0}&ev=m150"><li>150以上</li></a>
						<form class="price-order" action="index.html">
							<input type="hidden" name="cid" value="{$cate['category_id']}">
							<input type="text" name="mPrice">
							<span class="cc">-</span>
							<input type="text" name="lPrice">
							<input type="submit" value="确定">
						</form>
					</ul>
				</div>
			</div>
			<div class="sort-box bgf5">
				<span class="filter-prop-title">排序：</span>
				<a href="index?cid={$cate['category_id']}"><div class="sort-text">综合排序</div></a>
				<a href="index?cid={$cate['category_id']}&sort=sales_desc"><div class="sort-text">销量</div></a>
				<a href="index?cid={$cate['category_id']}&sort=comment_desc"><div class="sort-text">评论数</div></a><!-- icon-sortUp -->
				<a href="index?cid={$cate['category_id']}&sort=price_desc"><div class="sort-text">价格<i class="iconfont"></i></div></a>
				<div class="sort-total pull-right">共{$total}个商品</div>
				<script type="text/javascript">
					$('.sort-text').each(function(){
						$(this).removeClass('active');
						if($(this).parent().attr('href').indexOf('{$sort}') !=-1){
							$(this).addClass('active');
						}

						if ($(this).parent().attr('href').indexOf('price')!=-1) {
							if ('{$sort}' == 'price_desc') {
								$(this).addClass('active');
								$(this).find('i').removeClass('icon-sortUp');
								$(this).parent().attr('href' , $(this).parent().attr('href').replace('price_desc' , 'price_asc'));
								$(this).find('i').addClass('icon-sortDown');
								return false;
							}

							if('{$sort}' == 'price_asc'){
								$(this).addClass('active');
								$(this).find('i').removeClass('icon-sortDown');
								$(this).parent().attr('href' , $(this).parent().attr('href').replace('price_asc' , 'price_desc'));
								$(this).find('i').addClass('icon-sortUp');
								return false;
							}
						}

						if ('{$sort}' == 'all') {
							$('.sort-box a').first().find('div').addClass('active');
						}
					});

				</script>
			</div>
		</section>
		<section class="item-show__div clearfix">
			<div class="pull-left">
				<div class="item-list__area clearfix">
					{foreach $goods as $value}
					<div class="item-card">
						<a href="{:url('index/item/show')}?gid={$value['goods_id']}" class="photo">
							<img src="/{$value['image']}" alt="{$value['name']}" class="cover">
							<div class="name">{$value['name']}</div>
						</a>
						<div class="middle">
							<div class="price"><small>￥</small>{$value['price']*$value['discount']*0.1}</div>
							<div class="sale"><a href="">加入购物车</a></div>
						</div>
						<div class="buttom">
							<div>销量 <b>{$value['sale_num']}</b></div>
							<div>人气 <b>{$value['viewed']}</b></div>
							<div>评论 <b>{$value['comment_num']}</b></div>
						</div>
					</div>
					{/foreach}
				</div>
				<!-- 分页 -->
				<div class="page text-center clearfix">
					<form action="index" class="page-order">
						<input type="hidden" name="cid" value="{$cate['category_id']}">
						到第
						<input type="text" name="page">
						页
						<input class="sub" type="submit" value="确定">
					</form>
					<script type="text/javascript">
						var str = '';
						if({$total} <= {$num}){
							str = '<a class="select">1</a>';
						}else{
							str+='<a href="index?cid='+'{$cate["category_id"]}'+'&page='+{$prev}+'">上一页</a>';
							for(var i=1;i<={$pageCount};i++){
								if (i=={$page}) {
									str+='<a class="select" href="">'+i+'</a>';
								}else{
									str+='<a href="index?cid='+'{$cate["category_id"]}'+'&page='+i+'">'+i+'</a>';
								}	
							}
							str+='<a href="index?cid='+'{$cate["category_id"]}'+'&page='+{$next}+'">下一页</a>';

							str += '<a class="disabled">{$page}/{$pageCount}页</a>';
						}

						$('.page').prepend(str);
					</script>
				</div>
			</div>
			<div class="pull-right">
				
				<div class="desc-segments__content">
					<div class="lace-title">
						<span class="c6">爆款推荐</span>
					</div>
					<div class="picked-box">
						{foreach $bao as $value}
						<a href="{:url('index/item/show')}?gid={$value['goods_id']}" class="picked-item"><img src="/{$value['image']}" alt="" class="cover"><span class="look_price">¥{$value['price']*$value['discount']*0.1}</span></a>
						{/foreach}
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
	<div class="right-nav">
		<ul class="r-with-gotop">
			<li class="r-toolbar-item">
				<a href="udai_welcome.html" class="r-item-hd">
					<i class="iconfont icon-user" data-badge="0"></i>
					<div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="udai_shopcart.html" class="r-item-hd">
					<i class="iconfont icon-cart"></i>
					<div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="udai_collection.html" class="r-item-hd">
					<i class="iconfont icon-aixin"></i>
					<div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="" class="r-item-hd">
					<i class="iconfont icon-liaotian"></i>
					<div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
				</a>
			</li>
			<li class="r-toolbar-item">
				<a href="issues.html" class="r-item-hd">
					<i class="iconfont icon-liuyan"></i>
					<div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
				</a>
			</li>
			<li class="r-toolbar-item to-top">
				<i class="iconfont icon-top"></i>
				<div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
			</li>
		</ul>
		<script>
			//$(document).ready(function(){ $('.to-top').toTop({position:false}) });
		</script>
	</div>
	<!-- 底部信息 -->
	<div class="footer">
		<div class="footer-tags">
			<div class="tags-box inner">
				<div class="tag-div">
					<img src="__IMG__/icons/footer_1.gif" alt="厂家直供">
				</div>
				<div class="tag-div">
					<img src="__IMG__/icons/footer_2.gif" alt="一件代发">
				</div>
				<div class="tag-div">
					<img src="__IMG__/icons/footer_3.gif" alt="美工活动支持">
				</div>
				<div class="tag-div">
					<img src="__IMG__/icons/footer_4.gif" alt="信誉认证">
				</div>
			</div>
		</div>
		<div class="footer-links inner">
			<dl>
				<dt>U袋网</dt>
				<a href="temp_article/udai_article10.html"><dd>企业简介</dd></a>
				<a href="temp_article/udai_article11.html"><dd>加入U袋</dd></a>
				<a href="temp_article/udai_article12.html"><dd>隐私说明</dd></a>
			</dl>
			<dl>
				<dt>服务中心</dt>
				<a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
				<a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
				<a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
				<a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
			</dl>
			<dl>
				<dt>新手上路</dt>
				<a href="temp_article/udai_article5.html"><dd>如何成为代理商</dd></a>
				<a href="temp_article/udai_article6.html"><dd>代销商上架教程</dd></a>
				<a href="temp_article/udai_article7.html"><dd>分销商常见问题</dd></a>
				<a href="temp_article/udai_article8.html"><dd>付款账户</dd></a>
			</dl>
		</div>
		<div class="copy-box clearfix">
			<ul class="copy-links">
				<a href="agent_level.html"><li>网店代销</li></a>
				<a href="class_room.html"><li>U袋学堂</li></a>
				<a href="udai_about.html"><li>联系我们</li></a>
				<a href="temp_article/udai_article10.html"><li>企业简介</li></a>
				<a href="temp_article/udai_article5.html"><li>新手上路</li></a>
			</ul>
			<!-- 版权 -->
			<p class="copyright">
				© 2005-2017 U袋网 版权所有，并保留所有权利<br>
				ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
			</p>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	{if empty($goods)}
	$('.filter-section').hide();
	$('.pull-left').hide();
	var str = '<div style="color:red;font-size:16px;margin:20px;">抱歉，没有找到商品</div>';
	$('.content').prepend(str);
	{/if}
</script>