{include file='common/meta'}
<title>商品列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"><a class="btn btn-primary radius goods_add" href="javascript:;" ><i class="Hui-iconfont">&#xe600;</i> 新增</a></span></div>
	<table class="table table_list table_striped table-bordered margin-sx">
		<tr>
		<th><input type="text" name="keyword" class="input-text" placeholder="输入商品名称"></th>
		<th><select name="category_big">
			</select>
			<select name="category_second">		
			</select>
			<select name="category_last">		
			</select>
		</th>
		<th><select name="status">
			<option>选择状态</option>
			<option value="1">上架</option>
			<option value="0">下架</option>
		</select></th>
		<th><button class="btn btn-success" type="button"><i class="Hui-iconfont"></i>&nbsp;搜索</button></th>
		</tr>
	</table>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg" id="table_goods">
		</table>
		<div class="page r btn-group" style="margin: 40px"></div>
	</div>
</div>
{include file='common/footer'}
<!-- <script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script> -->
<script type="text/javascript">

showCategory($("select[name='category_big']") , 0);
$("select[name='category_second']").hide();
$("select[name='category_last']").hide();

function showCategory(parent,pid)
{
	parent.empty();
	parent.hide();
	$.post("{:url('index/category/getChildCate')}",
		{"id":pid},
		function(data){
			var str = '';
			if (data.length>0) {parent.show();
			}
			for(child in data)
			{
				str +="<option value='"+data[child]['category_id']+"'>"+data[child]['name']+"</option>";
			}
			parent.append(str);

			var arr = data[child]['path'].split(',');

			if (arr.length==2) {
				showCategory($("select[name='category_second']") , parent.val());
			}else if(arr.length==3){
				showCategory($("select[name='category_last']") , parent.val());
			}
	});
}

$("select[name='category_big']").change(function(){
	showCategory($("select[name='category_second']") , $(this).val());
});

$("select[name='category_second']").change(function(){
	showCategory($("select[name='category_last']") , $(this).val());
});

$('body').on('click','.jumpPage',function(){
	$('.jumpPage').removeClass('select');
	$(this).addClass('select');
	page = $(this).html();
	showPage();
});						
$('body').on('click','.prevPage',function(){
	page--;
	showPage();

});	
$('body').on('click','.nextPage',function(){
	page++;
	showPage();
});

var page=1;
var num=5;
var len;
var pageCount;

showPage();
function showPage()
{
	$('.page').empty();
	$("#table_goods").empty();

	var param = {"page":page,"num":num};
	var str = '<tr><th width="100">ID</th><th width="100">商品编号</th>'+
			   '<th width="100">商品</th><th width="160">商品名称</th><th width="100">分类</th><th width="100">价格</th><th width="100">数量</th><th width="150">添加日期</th><th width="100">状态</th><th width="220">操作</th></tr>';
	str +=
	$.post("{:url('admin/goods/showGoods')}",param,function(dat){
		len = dat['data'].length;
		for(var i=0;i<len;i++)
		{
			str+='<tr>';
			str+='<td>'+dat['data'][i]['goods_id']+'</td>';
			str+='<td>'+dat['data'][i]['model']+'</td>';
			str+='<td><img src="/'+dat['data'][i]['image']+'" width="150"/></td>';
			str+='<td>'+dat['data'][i]['name']+'</td>';
			str+='<td>'+dat['data'][i]['cate']+'</td>';
			str+='<td>'+dat['data'][i]['price']+'</td>';
			str+='<td>'+dat['data'][i]['quantity']+'</td>';
			str+='<td>'+dat['data'][i]['create_time']+'</td>';
			str+='<td>';
			if(dat['data'][i]['status']){str+='上架';}else{str+='下架';}
			str+='</td>';
			str+='<td class="td-manage"><a class="ml-5 edit" title="编辑" href="javascript:;"  gid="'+dat['data'][i]['goods_id']+'" style="text-decoration:none" onclick="edit(this,'+dat['data'][i]['goods_id']+')"><i class="Hui-iconfont">&#xe6df;</i></a><a title="删除" href="javascript:;" class="ml-5 del" gid="'+dat['data'][i]['goods_id']+'" style="text-decoration:none" onclick="del(this,'+dat['data'][i]['goods_id']+')" ><i class="Hui-iconfont">&#xe6e2;</i></a></td>';
			str+='</tr>';
		}
		$("#table_goods").append(str);

		
		str = '';
		var page = dat['page'];
		var prev = dat['prev'];
		pageCount = dat['pageCount'];
		if(page>1){
			str+='<a class="btn btn-default radius prevPage">上一页</a>';
		}
		for(var i=1;i<=pageCount;i++){
		 	if(page==i){
		 		str+='<a class="btn btn-primary radius jumpPage">'+i+'</a>';
		 	}else{
		 		str+='<a class="btn btn-default radius jumpPage">'+i+'</a>';
		 	}
		}
		if(page<pageCount){
			str+='<a class="btn btn-default radius nextPage">下一页</a>';
		}
		str+='<a class="btn btn-default">'+page+'/'+pageCount+'页</a>';
		$('.page').append(str);

	});
}

/*$("#table_goods").dataTable({
	"width":"100%",	
	"bLengthChange":false,
	"iDisplayLength": 10,
    "bStateSave": true,//状态保存
	"searching": false,
	"ordering":false,
    "aoColumnDefs": [{"orderable":false,"aTargets":[0,8,9]}],
	"processing": true,
	"serverSide": true,
	"ajax" : '{:url('admin/goods/showGoods')}',
    "columns": [
        {"data": "goods_id", "bSortable": false},
        {"data": "model"},
        {"data": "image" , render: function (data) {
        	if (!data) {return;}
        	return '<img src="/'+data+'" width="150"/>';
        } },
        {"data": "name"},
        {"data": "cate"},
        {"data":"price"},
        {"data":"quantity"},
        {"data":"create_time"},
        {"data":"status" , render:function(data){
        	if (data) {return '上架';}
        	return '下架';
        }},
        {"data":"goods_id" , render:function(data){
        	var edit = "<a class='btn btn-primary radius edit' gid='"+data+"'  href='javascript:;' title='商品编辑'>编辑</a>";
        	var del = "<a class='btn btn-danger radius del' gid='"+data+"' href='javascript:;'>删除</a>";
        	return edit + del;
        }}
      ]
    });*/


/*商品-添加*/
$('body').on('click','.goods_add',function(){
	var index = layer.open({
		type: 2,
		title: "商品添加",
		content: "{:url('admin/goods/addGoods')}"
	});
	layer.full(index);
});

/*商品-编辑*/
function edit(obj,id)
{
	var title = '商品编辑';
	var index = layer.open({
		type: 2,
		title: title,
		content: "{:url('admin/goods/updateGoods')}?id="+id
	});
	layer.full(index);
}

/*商品-删除*/
function del(obj,id){
	layer.confirm('商品删除须谨慎，确认要删除吗？',function(index){
		$.post(
			'{:url('admin/goods/delGoods')}',
			{id:id},
			function(data){
				if(data.status == 1){
                	$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
	            }else{
	            	var msg = data.msg;
	            	layer.msg(msg,{icon:2,time:2000});
	            }
		});
	});
}
</script>
</body>
</html>