<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="__ADMIN__/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery.1.12.4.min.js"></script>
<script src="__ADMIN__/lib/layer/2.4/layer.js" type="text/javascript"></script>
<link href="__CSS__/drag.css" rel="stylesheet" type="text/css"/>
<script src="__JS__/drag.js" charset="UTF-8"></script>
<title>后台登录</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" action="index.html" method="post">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input name="username" type="text" placeholder="账户" class="input-text size-L" data-name="用户名">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input name="userpwd" type="password" placeholder="密码" class="input-text size-L" data-name="密码">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <div id="drag"></div>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-5">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" id="login_btn">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright U袋网 by H-ui.admin v3.1</div>
<!-- <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> --> 
<script type="text/javascript" src="__ADMIN__/h-ui/js/H-ui.min.js"></script>
</body>
</html>
<script type="text/javascript">
  $('#drag').drag();
  $('#login_btn').on('click', function(){
     var num=0;
     var str="";
     $("input[type$='text'],input[type$='password']").each(function(n){
          if($(this).val()=="")
          {
               
         layer.alert(str+=""+$(this).attr("data-name")+"不能为空！\r\n",{
                title: '提示框',       
        icon:0,               
          }); 
        num++;
            return false;            
          } 
     });

    if($('.drag_text').text() != '验证通过')
    {
      layer.alert("请先通过验证再登录",{
                title: '提示框',       
        icon:0,               
      });
      return false;
    }


      if(num>0){  return false;}    
      else{
        param = {"username":$('input[name=username]').val(),
                "userpwd":$('input[name=userpwd]').val()
              };
        $.post("{:url('admin/auth/doLogin')}",param,function(data){
            alert(data['msg']);
            $(location).attr('href' , data['url']);
            //location.href=data['url'];
            //layer.close(index);
            
        });   
          
      }                             
  });
</script>