<div class="pull-left bgf">
	<a href="{:url('index/user/welcome')}" class="title">U袋欢迎页</a>
	<dl class="user-center__nav">
		<dt>帐户信息</dt>
		<a href="{:url('index/info/setting')}"><dd>个人资料</dd></a>
		<a href="{:url('index/info/treasurer')}"><dd>资金管理</dd></a>
		<a href="{:url('index/info/integral')}"><dd>积分平台</dd></a>
		<a href="{:url('index/info/address')}"><dd>收货地址</dd></a>
		<a href="{:url('index/info/coupon')}"><dd>我的优惠券</dd></a>
		<a href="{:url('index/info/paypwd')}"><dd>修改支付密码</dd></a>
		<a href="{:url('index/info/updatepwd')}"><dd>修改登录密码</dd></a>
	</dl>
	<dl class="user-center__nav">
		<dt>订单中心</dt>
		<a href="{:url('index/order/index')}"><dd class="active">我的订单</dd></a>
		<a href="{:url('index/user/collection')}"><dd>我的收藏</dd></a>
		<a href="{:url('index/user/refund')}"><dd>退款/退货</dd></a>
	</dl>
	<dl class="user-center__nav">
		<dt>服务中心</dt>
		<a href="{:url('index/server/mail_query')}"><dd>物流查询</dd></a>
		<a href=""><dd>数据自助下载</dd></a>
		<a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
		<a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
		<a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
		<a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
	</dl>
	<dl class="user-center__nav">
		<dt>新手上路</dt>
		<a href="temp_article/udai_article5.html"><dd>如何成为代理商</dd></a>
		<a href="temp_article/udai_article6.html"><dd>代销商上架教程</dd></a>
		<a href="temp_article/udai_article7.html"><dd>分销商常见问题</dd></a>
		<a href="temp_article/udai_article8.html"><dd>付款账户</dd></a>
	</dl>
	<dl class="user-center__nav">
		<dt>U袋网</dt>
		<a href="temp_article/udai_article10.html"><dd>企业简介</dd></a>
		<a href="temp_article/udai_article11.html"><dd>加入U袋</dd></a>
		<a href="temp_article/udai_article12.html"><dd>隐私说明</dd></a>
	</dl>
</div>